// 3rd-party Plugins
@import '~highlight.js/styles/googlecode.css';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';

// Theme Styles
@import './_metronic/_assets/sass/style.react.scss';

// Default Layout themes
@import './_metronic/_assets/sass/themes/layout/header/base/light.scss';
@import './_metronic/_assets/sass/themes/layout/header/menu/light.scss';
@import './_metronic/_assets/sass/themes/layout/brand/dark.scss';
@import './_metronic/_assets/sass/themes/layout/aside/dark.scss';

// Header themes
// Light
//@import "./_metronic/_assets/sass/themes/layout/header/base/light.scss";
// Dark
// @import "./_metronic/_assets/sass/themes/layout/header/base/dark.scss";

// Header Menu themes
// Light
//@import "./_metronic/_assets/sass/themes/layout/header/menu/light.scss";
// Dark
// @import "./_metronic/_assets/sass/themes/layout/header/menu/dark.scss";

// Brand themes
.brand-dark {
  @import './_metronic/_assets/sass/themes/layout/brand/dark.scss';
}
// Light
.brand-light {
  @import './_metronic/_assets/sass/themes/layout/brand/light.scss';
}

// Aside themes
// Dark
//@import "./_metronic/_assets/sass/themes/layout/aside/dark.scss";
// Light
// @import "./_metronic/_assets/sass/themes/layout/aside/light.scss";

// .example-highlight {
//   padding: 0rem 1.5rem 1.75rem !important;
// }

html {
  scroll-behavior: smooth;
}

.example-highlight > pre {
  background: none transparent !important;
  margin: 0 !important;
  padding-top: 0.5rem;
  code {
    overflow-y: auto;
    display: block;

    span {
      background: none transparent !important;
    }
  }
}

.json > pre {
  background: none #fff !important;
}

.example-code > .json {
  background: none #fff !important;
}

.display-4 {
  line-height: 1.4 !important;
}

.symbol.symbol-45 > svg {
  width: 100%;
  max-width: 45px;
  height: 45px;
}

video {
  background: #000;
}

video,
.react-player__preview {
  border-radius: 10px !important;
}

.react-bootstrap-table {
  overflow-x: auto;
}

.react-bootstrap-table {
  th {
    outline: none;

    &.sortable {
      .svg-icon-sort {
        opacity: 0;
      }

      &:hover {
        cursor: pointer;

        .svg-icon-sort {
          opacity: 1;
        }
      }
    }
  }

  .table.table-head-custom thead tr {
    .sortable-active {
      color: $primary !important;
    }
  }
}

.cursor-default {
  cursor: default !important;
}

.header-fixed.subheader-fixed.subheader-enabled .wrapper {
  padding-top: 23px !important;
}

.object-cover {
  object-fit: cover;
}

.react-date-picker__wrapper { 
  border: unset !important;
}

iframe,
video { 
  border-radius: 10px;
}

// ===
.badge-info,
.badge-warning {
  color: #fff !important;
}

.btn {
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(0.98);
  transition: all 0.3s ease;
}

.text-primary,
a {
  color: #1bc5bd !important;
}

a:hover {
  opacity: 0.8;
}

.bg-primary,
.btn-primary {
  background-color: #1bc5bd !important;
}

.border-primary {
  border-color: #1bc5bd !important;
}

.btn-bg-hover-custom-one {
  transition: all 0.3s ease;
  width: 30%;
}

.btn-bg-hover-custom-one:hover,
.btn-bg-hover-custom-one:active,
.btn-bg-hover-custom-one.active {
  border-bottom: 4px solid;
  border-radius: 0;

  font-weight: 800;
}

.video {
  outline: 0;
}

.pos-center {
  width: 105%;
  border: 5px solid #fff;
  border-radius: 35px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pos-center img {
  border-radius: 27px;
}

.hover-scale {
  cursor: pointer;
}

.hover-scale,
.hover-scale * {
  transition: all 0.3s ease;
}

.hover-scale .banner {
  opacity: 0;
}

.hover-scale:hover .banner {
  opacity: 1;
}

.hover-scale svg {
  color: #ff8d1a;
}

.hover-scale:hover svg {
  color: #fff;
}

.hover-scale:hover {
  z-index: 555;
  transition: all 0.3s ease;
  margin-top: -50px;
}

.hover-scale:hover ellipse,
.hover-scale:hover circle {
  fill-opacity: 1;
}

.cursor-pointer {
  cursor: pointer;
}

.pre-line { 
  white-space: pre-line;
 }

// Side Bar

.header-mobile-fixed .header-mobile {
  z-index: 98;
}

.header-fixed.subheader-fixed .subheader {
  top: 0 !important;
  z-index: 99;
}

.aside {
  padding: 0 20px !important;
  z-index: 999 !important;
}

.aside-minimize:not(.aside-minimize-hover) .aside {
  width: 70px;
  padding: 0 !important;
  z-index: 999 !important;
}

.aside,
.aside .brand,
.aside .aside-menu {
  background-color: #fff !important;
}

.aside-menu
  .menu-nav
  > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover
  > .menu-heading,
.aside-menu
  .menu-nav
  > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover
  > .menu-link,
.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-heading,
.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link {
  background-color: #f3f6f9 !important;
}

.aside-menu
  .menu-nav
  > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover
  > .menu-heading
  .menu-icon,
.aside-menu
  .menu-nav
  > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover
  > .menu-link
  .menu-icon,
.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link .menu-icon {
  color: #94e0df;
}

.aside-menu
  .menu-nav
  > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover
  > .menu-heading
  .menu-text,
.aside-menu
  .menu-nav
  > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover
  > .menu-link
  .menu-text,
.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link .menu-text {
  color: #94e0df;
}

// ===

.review-report-bg {
  background-image: url(./assets/images/background/bg-hero-3.svg);
  background-size: cover;
  background-position: bottom;
}

.Section-1 {
  background-image: url(./assets/images/background/bg-hero.svg);
  background-size: cover;
}

.Section-2 {
  background-image: url(./assets/images/background/bg-section-2.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: mediumslateblue;
}

.Section-3 .play-link {
  background-image: url(./assets/images/background/bg-image-2.svg);
  background-position: center;
  background-size: cover;
  margin: auto;
  width: 400px;
}

.Section-3 .carousel-control-prev,
.Section-3 .carousel-control-next {
  background-color: orange;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  box-shadow: 0 0 2px #000;
}

.Section-3 .carousel-control-prev {
  background-color: #ddd;
}

.Section-3 .carousel-control-next {
  background-color: orange;
}

.Section-4 {
  background-color: #e8f9f8;
}

.Section-6 {
  background-image: url(./assets/images/background/bg-hero-2.svg);
  background-size: contain;
}

.Section-7 {
  background-image: url(./assets/images/background/bg-hero.svg);
  background-size: cover;
}

// Step

.MuiStepIcon-root {
  color: #ddd !important;
  fill: transparent !important;
  border: 1px solid #ddd;
  border-radius: 50px;
}

.MuiStepIcon-root.MuiStepIcon-active {
  color: #1bc5bd !important;
  fill: transparent !important;
  border: 1px solid #1bc5bd;
  border-radius: 50px;
}

.MuiStepIcon-root.MuiStepIcon-active .MuiStepIcon-text {
  fill: #1bc5bd !important;
}

.MuiStepIcon-text {
  font-size: 1rem !important;
  font-weight: bold;
  font-family: Poppins;
}

.MuiStepLabel-label.MuiStepLabel-active {
  color: #1bc5bd !important;
  font-weight: bold;
}

.MuiRadio-root {
  color: #9c27b0 !important;
}

@media (max-width: 1200px) { 
  .Section-3 .play-link { 
    width: 80%;
  }
}

@media (max-width: 990px) {
  .aside {
    width: 250px !important;
  }

  .MuiStepConnector-line {
    display: none !important;
  }
  .Section-3 .play-link { 
    width: 100%;
  }
}
